In [1]:
import pandas as pd
df = pd.read_csv('company.csv')
df.head()

   Compay                  Job     Degree  Salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs = df.drop('Salary_more_than_100k',axis='columns')
target = df['Salary_more_than_100k']
inputs

        Compay                  Job     Degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [5]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_than_100k, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [9]:
inputs['company_n'] = le_company.fit_transform(inputs['Company'])
inputs['job_n'] = le_company.fit_transform(inputs['Joo'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head()

KeyError: 'Company'